jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=org.openintents.shopping
testPackageName=org.openintents.shopping.test
productFlavors=play
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/org.openintents.shopping/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/org.openintents.shopping/ShoppingList/src/androidTest/java/org/openintents/shopping/test/test/
